html {
  height 100%;
}

.header {
  text-align: center;
}

.content {
  max-width: 800px;
  margin: auto;
}

body {
  height: 100%;
  background: radial-gradient(at bottom right, hsl(210, 100%, 60%), hsl(90, 100%, 80%));
}

.main {
  flex: 100%
  background-color: white;
}

h1 {
  color: black;
}

p {
  color: black; 
}

.footer {
  text-align: center;
}
